html,
body,
a {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: text;

  font-family: 'Helvetica neue';
  font-size: 100%;
  text-transform: uppercase;

  color: rgb(120,190,255);
}

a:hover {
  color: white;
  background-color: rgb(120,190,255);
}

#bg{
  background-image: linear-gradient(white, rgb(120,190,255));
  z-index: 0;
  width: 100%;
  height: 1080px;
}

#credits{
  position: absolute;
  z-index: 3;

  width: 30%;
  left: 5%;
  top: 5%;
  text-align: left;
}

#guide{
  position: absolute;
  z-index: 3;

  width: 30%;
  left: 35%;
  top: 5%;
  text-align: center;
}

#home{
  position: absolute;
  z-index: 3;

  width: 30%;
  left: 35%;
  top: 5%;
  text-align: center;
}

#github{
  position: absolute;
  z-index: 3;

  width: 30%;
  left: 65%;
  top: 5%;
  text-align: right;
}




#box1{
  position: absolute;
  z-index: 3;

  top: 15%;
  height: 15%;
  width: 100%;
}

#box2{
  position: absolute;
  z-index: 3;

  top: 30%;
  height: 35%;
  width: 100%;
}

#box3{
  position: absolute;
  z-index: 3;

  top: 65%;
  height: 35%;
  width: 100%;
}


#step1{
  position: absolute;
  left: 60%;
}

#step2{
  position: absolute;
  left: 10%;
  width: 90%;
}
#step2Details{
  position: absolute;
  padding-top: 1vw;
  left: 10%;
}

#step3{
  position: absolute;
  left: 20%;
  width: 80%;
}
#step3Details{
  position: absolute;
  padding-top: 1vw;
  left: 10%;
  width: 100%;
}